* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
}

div#container {
  background-color: #eeeebb;
  width: 90%;
  max-width: 300px;
  margin: auto;
  padding: 10px;
}

img#logo {
  width: 50%;
}

input#tela1 {
  border: black 1px solid;
  background-color: black;
  color: red;
  width: 90%;
  height: 75px;
  font-family: Courier New;
  font-size: 30pt;
  font-weight: bold;
}

input#tela2 {
  border: black 1px solid;
  background-color: black;
  color: white;
  width: 90%;
  height: 25px;
  font-family: Courier New;
  font-size: 15pt;
  font-weight: bold;
}

input.botao {
  width: 45%;
  height: 100px;
  border: black 1px solid;
  border-radius: 5px;
  font-size: 24pt;
  color: white;
}

input#botaoA { background-color: red; }
input#botaoB { background-color: yellow; }
input#botaoC { background-color: blue; }
input#botaoD { background-color: green; }

input#botaoStart {
  width: 90%;
  height: 30px;
  border: black 1px solid;
  border-radius: 5px;
  background-color: white;
  font-size: 11pt;
}